#ember-app
.select2-container.select2-container-multi {
  &.select2-container-active .select2-choices {
    box-shadow: none;
  }

  .select2-search-field input {
    min-width: 200px;
    height: 25px;
    margin-left: 10px;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: none;

    &.active {
      display: block;
    }
  }
}

.select2-search-choice-close {
  @extend .animation-scale-in;
}

.participant-selector-label {
  font-size: 14px;
}

.add-participant-button, .assign-role-button {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
  @include user-select(none);

  &.searching {
    display: none;
  }
}

.assign-role-button {
  @include size(25px, 30px);
  line-height: 12px;
  border: 1px solid $tahi-blue;
  color: $tahi-blue;
  background: #D7EBFE;
}
